body{
background-color: #f4f4f4;
font-family: Arial, sans-serif;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
background-color: #0077b6;
color: white;
padding: 20px;

display: flex;
justify-content: space-between;
align-items: center;

box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover{
    color: #caf0f8;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 25px;
}

.hero{
    text-align: center;
    padding: 100px 20px;
}

.hero  h2{
    font-size: 42px;
    color: #0077b6;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    color: #555;
    margin-bottom: 35px;
}

.btn{
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover{
    background-color: #005f8d;
}

.doctors{

    padding: 80px 20px;
    text-align: center;
}

.doctor-container{

    display: flex;;
    justify-content:center;
    gap:30px;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 300px;
    padding: 25px;
    min-height: 150px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0,.15);

    transition:0.3s;
    display: flex;
    flex-direction: column;
}


.card:hover{
    transform: translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.card .btn{
    margin-top: auto;
}

.doctors h2{
    margin-bottom: 30px;
}

.hero {
    display: inline-block;
}

.services{
    padding: 80px;
    text-align: center;
}

.services h2{
    margin-bottom:40px;
}

.service-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.service-card{
    width: 300px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.15);
    transition:.3s;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

footer{
    background-color: #0077b6;
color:white;
padding:40px 20px;
margin-top:80px;
}

footer h2{

    margin-bottom:20px;

}

footer p{

    margin:10px 0;

}

footer hr{

    width:100%;

    margin: 25px auto;

    border:1px solid rgba(255,255,255,.3);

}

.appointments-hero{

    text-align:center;

    padding:80px 20px;
}


.appointments-hero h2{

    color:#0077b6

    font-size:40px;

    margin-bottom:20px;
}

.appointments-hero p{

    font-size:18px;

    color:#555;

    margin-bottom:35px;
}

.upcoming-appointments,
.past-appointments{

    width: 80%;
    margin: 70px auto;

}

.upcoming-appointments h2,
.past-appointments h2{

    color:#0077b6;
    margin-bottom:30px;

}